---
import { getCollection, CollectionEntry } from "astro:content";

import { filterPosts } from "../../utils/utils";

import Base from "@layouts/Base.astro";
import Pagination from "@components/Pagination.astro";
import TagsCloud from "@components/TagsCloud.astro";
import PostCardWide from "../../components/PostCard.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("blog");
  const postsToDisplay: CollectionEntry<"blog">[] = filterPosts(allPosts);

  return paginate(postsToDisplay, {
    pageSize: 5,
  });
}

const { page } = Astro.props;
---

<Base title="Blog Posts">
  <section>
    <h1>New Blog Posts</h1>
    <div>
      {
        page.data.map((post) => (
          <PostCardWide frontmatter={post.data} slug={post.slug} maxTags={4} />
        ))
      }
    </div>
    <Pagination prevURL={page.url.prev} nextURL={page.url.next} />
  </section>
  <aside>
    <h2>Tags</h2>
    <TagsCloud showCount={true} />
  </aside>
</Base>
