---
// library imports
import { getCollection, CollectionEntry } from "astro:content";

// utils imports
import { filterPosts } from "@js/utils";

// component imports
import Base from "@layouts/Base.astro";
import PostCard from "@components/PostCard.astro";
import Pagination from "@components/Pagination.astro";
import TagsCloud from "@components/TagsCloud.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("blog");
  const postsToDisplay = filterPosts(allPosts);

  return paginate(postsToDisplay, {
    pageSize: 4,
  });
}

const { page } = Astro.props;
---

<Base title="Blog Posts">
  <section class="container" aria-label="New Blog Posts">
    <h1 class="h1">New Blog Posts</h1>
    <div class="post-container">
      {
        page.data.map((post) => (
          <PostCard frontmatter={post.data} slug={post.slug} tagType="h2" />
        ))
      }
    </div>
    <Pagination prevURL={page.url.prev} nextURL={page.url.next} />
  </section>
  <aside aria-label="Blog tags">
    <h2 class="h3">Blog Tags</h2>
    <TagsCloud showCount={true} />
  </aside>
</Base>
