---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import { contactEmail, contactLinks } from "@data/contactLinks";
import { technologies } from "@data/technologies";
import { filterPosts } from "@utils/utils";

import headshot from "@assets/images/headshot/headshot.jpg";
import PostCard from "@components/PostCard.astro";
import Layout from "@layouts/Base.astro";

const allPosts = await getCollection("blog");
const postsToDisplay = filterPosts(allPosts, { limit: 3 });
---

<Layout title="Murtadha - Home">
  <main class="mx-auto my-16 max-w-5xl">
    <section
      class="mx-8 mb-12 grid grid-cols-1 gap-x-16 gap-y-12 md:grid-cols-5 md:grid-rows-[auto_auto_auto] lg:grid-rows-[auto_auto] lg:gap-y-0"
      aria-label="About Me"
    >
      <Image
        src={headshot}
        alt="My personal photo"
        class="max-w-80 rotate-3 justify-self-center rounded-xl md:col-span-3 md:row-start-1 lg:col-span-2 lg:col-start-4 lg:max-w-72 lg:justify-self-start"
      />

      <div class="row-start-2 md:col-span-full lg:col-span-3 lg:row-start-1">
        <h1
          class="text-theme-light-text dark:text-theme-dark-text mb-4 text-4xl font-bold"
        >
          Hey, I'm Murtadha
        </h1>
        <p
          class="text-theme-light-text-muted dark:text-theme-dark-text-muted mb-4"
        >
          I'm a software engineer currently based in Jordan 🇯🇴 I work with a
          variety of web technologies as well as automation and IaC tools. I'm
          passionate about building beautiful and functional applications and
          about self-hosting. I like reading in my freetime and always learning
          new things.
        </p>
        <p class="text-theme-light-text-muted dark:text-theme-dark-text-muted">
          I have a BSc (first class) Honours degree in Computing and IT from the
          UK, where I have previously lived for over 7 years. My general focus
          is backend development and DevOps / infrastructure. Though I'm always
          open to exploring other subfields and learning new technologies,
          languages, and frameworks.
        </p>
      </div>

      <div class="row-start-3 md:col-span-full lg:col-span-3 lg:row-start-2">
        <h2
          class="text-theme-light-text dark:text-theme-dark-text mb-4 text-2xl"
        >
          Technologies and tools I've worked with
        </h2>
        <ul class="flex flex-wrap items-center justify-start gap-4">
          {
            technologies.map((technology) => (
              <li>
                <Icon
                  class="hover:text-theme-light-accent dark:text-theme-dark-text-muted dark:hover:text-theme-dark-accent transition"
                  name={technology.icon}
                  size={56}
                />
              </li>
            ))
          }
        </ul>
      </div>

      <ul
        class="row-start-4 flex flex-col items-start justify-start gap-4 md:col-span-2 md:row-start-1 md:justify-center lg:row-start-2"
        aria-label="Social media accounts and email"
      >
        {
          contactLinks.map((contactLink) => (
            <li>
              <a
                target="_blank"
                class="group text-theme-light-text hover:text-theme-light-accent dark:text-theme-dark-text dark:hover:text-theme-dark-accent flex items-center justify-start gap-4 text-sm font-medium transition"
                href={contactLink.path}
              >
                <Icon
                  class="text-theme-light-text-muted group-hover:text-theme-light-accent dark:text-theme-dark-text-muted dark:group-hover:text-theme-dark-accent transition"
                  name={contactLink.icon}
                  size={24}
                />
                <p>{contactLink.label}</p>
              </a>
            </li>
          ))
        }
        {
          (
            <li class="border-theme-light-text-muted/50 dark:border-theme-dark-text-muted/50 mt-4 self-stretch border-t pt-8">
              <a
                href={"mailto:" + contactEmail.path}
                class="group text-theme-light-text hover:text-theme-light-accent dark:text-theme-dark-text dark:hover:text-theme-dark-accent flex items-center justify-start gap-4 text-sm font-medium transition"
              >
                <Icon
                  class="text-theme-light-text-muted group-hover:text-theme-light-accent dark:text-theme-dark-text-muted dark:group-hover:text-theme-dark-accent transition"
                  name={contactEmail.icon}
                  size={24}
                />
                <p>{contactEmail.label}</p>
              </a>
            </li>
          )
        }
      </ul>
    </section>

    <section
      aria-label="Common Destinations"
      class="bg-theme-light-fill-muted dark:bg-theme-dark-fill-muted mx-8 mb-12 rounded-3xl p-8"
    >
      <h2
        class="text-theme-light-text dark:text-theme-dark-text mb-8 text-center text-3xl md:text-4xl"
      >
        Looking for something in particular?
      </h2>
      <div class="flex justify-center px-8">
        <ul
          class="text-theme-light-text dark:text-theme-dark-text flex list-disc flex-col items-start justify-between gap-2 md:text-lg"
        >
          <li>
            My MacOS setup involves <a
              href="https://github.com/MurtadhaInit/macos-ansible-setup"
              class="text-theme-light-accent dark:text-theme-dark-accent hover:underline"
              target="_blank">Ansible</a
            > and GNU Stow to manage my <a
              href="https://github.com/MurtadhaInit/dotfiles"
              class="text-theme-light-accent dark:text-theme-dark-accent hover:underline"
              target="_blank">Dotfiles</a
            >
          </li>
          <li>
            I occasionally take <a
              class="text-theme-light-accent dark:text-theme-dark-accent hover:underline"
              href="/gallery">photos</a
            > and try to improve my photography skills
          </li>
          <li>
            Check out my complete <a
              href="/setup"
              class="text-theme-light-accent dark:text-theme-dark-accent hover:underline"
              >setup</a
            > for programming and general productivity
          </li>
          <li>
            <!--TODO: link to the appropriate slug for this future article-->
            Read about my experience using the <a
              href=""
              target="_blank"
              class="text-theme-light-accent dark:text-theme-dark-accent hover:underline"
              >ZSA Voyager</a
            > split ergonomic keyboard
          </li>
        </ul>
      </div>
    </section>

    <section aria-label="Latest Blog Posts" class="mx-8">
      <h2
        class="text-theme-light-text dark:text-theme-dark-text mb-8 text-center text-3xl md:text-4xl"
      >
        Latest Articles
      </h2>
      <ul class="space-y-8">
        {
          postsToDisplay.map((post) => (
            <li>
              <PostCard post={post} maxTags={3} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
