---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

import { slugify } from "@utils/utils.js";

interface Props {
  post: CollectionEntry<"blog">;
  maxTags: number;
}

const { post, maxTags } = Astro.props as Props;
const { title, date, cover, coverAlt, description, tags } = post.data;
---

<article
  class="bg-theme-light-fill-muted dark:bg-theme-dark-fill-muted flex flex-col items-center justify-start gap-4 rounded-lg p-4 md:flex-row md:items-start md:gap-12"
>
  <a href={`/blog/posts/${post.id}`} aria-hidden="true" tabindex="-1">
    <Image
      class="w-full rounded-md md:w-64"
      src={cover}
      alt={coverAlt}
      transition:name={`image_${post.id}`}
    />
  </a>
  <div
    class="flex flex-1 flex-col items-start justify-between gap-4 self-stretch"
  >
    <div>
      <a href={`/blog/posts/${post.id}`}>
        <h3
          class="text-theme-light-text dark:text-theme-dark-text mb-2 text-xl font-medium"
        >
          {title}
        </h3>
      </a>
      <p class="text-theme-light-text dark:text-theme-dark-text text-sm">
        {description}
      </p>
    </div>
    <div class="flex items-center justify-between self-stretch">
      <p
        class="text-theme-light-text-muted dark:text-theme-dark-text-muted text-xs sm:text-sm"
      >
        {date.toLocaleDateString()}
      </p>
      <div class="flex items-center justify-between gap-4">
        {
          tags
            .sort(() => Math.random() - 0.5)
            .slice(0, maxTags)
            .map((tag) => (
              <a
                href={`/blog/tags/${slugify(tag)}`}
                class="text-theme-light-text hover:text-theme-light-accent dark:text-theme-dark-text dark:hover:text-theme-dark-accent text-xs font-light transition sm:text-sm"
              >
                {tag}
              </a>
            ))
        }
      </div>
    </div>
  </div>
</article>
