---
// component imports
import Base from "@layouts/Base.astro";
import PostHeader from "@components/PostHeader.astro";
import TagsCloud from "@components/TagsCloud.astro";
import RelatedPostsCloud from "@components/RelatedPostsCloud.astro";

const { post } = Astro.props;
const { title, description, date, category, author, image } = post.data;
---

<Base {title} {description} {image} frontmatter={post.data}>
  <PostHeader {category} {title} {date} {author} {image} />
  <div>
    <div>
      <slot>Blog post</slot>
    </div>
    <div>
      <aside>
        <h2>Tags</h2>
        <TagsCloud showCount={true} />
      </aside>
      <!-- TODO: make this whole block conditional: if there are no related posts, don't display it -->
      <aside>
        <h2>Related Posts</h2>
        <RelatedPostsCloud originalPost={post} postsToDisplay={3} />
      </aside>
    </div>
  </div>
</Base>
