---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

import Layout from "@layouts/Base.astro";

import RelatedPosts from "@components/RelatedPosts.astro";
import TagsCloud from "@components/TagsCloud.astro";

import { slugify } from "@utils/utils";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props as Props;
const { title, description, date, category, author, cover, coverAlt, tags } =
  post.data;
---

<Layout {title} {description} image={`/open-graph/${post.id}.png`} type="article">
  <main class="mx-auto my-16 max-w-5xl">
    <section class="mx-8 mb-8">
      <div class="mb-8">
        <p
          class="text-fg-muted mb-4 text-2xl"
        >
          <a
            class="hover:text-accent transition"
            href={`/blog/categories/${slugify(category)}`}>{category}</a
          >
        </p>
        <h1
          class="mb-2 text-4xl"
        >
          {title}
        </h1>
        <p class="text-fg-muted">
          By {author} • {date.toLocaleDateString()}
        </p>
      </div>
      <Image
        src={cover}
        alt={coverAlt}
        width={1200}
        height={600}
        class="rounded-xl"
        transition:name={`image_${post.id}`}
      />
    </section>

    <section class="mx-8 mb-12">
      <slot>This post seems to be missing...</slot>
    </section>

    <div class="mx-8 flex items-start justify-start gap-12">
      <aside class="basis-3/5">
        <h2
          class="mb-8 text-2xl"
        >
          Related Posts
        </h2>
        <RelatedPosts originalPost={post} postsToDisplay={4} />
      </aside>

      <aside class="max-w-max basis-2/5">
        <h2
          class="mb-8 text-2xl"
        >
          Tags
        </h2>
        <TagsCloud postTags={tags} />
      </aside>
    </div>
  </main>
</Layout>
